
        <div class="robogeddon">
          <h2>#ROBOGEDDON</h2>
          <div style="margin-right:0px; overflow:hidden;">
            Bots übernehmen das Marketing.<br />
            Chat-Bots die Kommunikation.<br />
            Ab sofort zählt jedes Wort.
          </div>
          <div>
            <h3>Über uns</h3>
            <li># <button tabindex="2" style="margin-left:-2px;">Robogeddon</button></li>
            <li>Unsere <button tabindex="3">Produkte</button></li>
        <!--<li>Unsere <button tabindex="4">Leistungen</button></li>-->
            <li><button tabindex="5">Kontakt</button> aufnehmen</li>
            <li>Andreas <button tabindex="6">Sefzig</button></li>
            <!-- Folgt: Tabindex fortführen... -->
          </div>
          <div>
            <h3>Unsere Bots</h3>
            <li>Alice: <button>Empfang</button></li>
            <li>Barbara: <button>Beratung</button></li>
            <li>Cynthia: <button>Technik</button></li>
            <li>Doris: <button>Kreation</button></li>
            <li>Erika: <button>Konzeption</button></li>
            <li>Feline: <button>Strategie</button></li>
          </div>
          <div id="formular">
            <h3>Ihre Daten</h3>
            <li><input type="text" id="vorname"  value="" style="width:  84px;" /></li><script>wachsen("vorname",   84);</script>
            <li><input type="text" id="nachname" value="" style="width:  96px;" /></li><script>wachsen("nachname",  96);</script>
            <li><input type="text" id="email"    value="" style="width: 100px;" /></li><script>wachsen("email",    100);</script>
            <input type="submit" value="Gespräch beginnen" data-start="chat" />
          </div>
          <div>
            <h3>Tipps</h3>
            <li>Alle <button>Befehle</button> eines Bots</li>
            <li><button>Über</button> den gerade aktiven Bot</li>
            <li>Sie können immer <button>zurück</button></li>
            <li>Einfach <button>abbrechen</button> wenn lost</li>
            <li><button>Bots-aus</button> und anschalten</li>
            <li><button>Menü</button> an- oder ausschalten</li>
            <li>Den Chat <button>mobil</button> öffnen</li>
            <li><span class="nur_mobil">Als Web-App hinzufügen</span><span class="nicht_mobil">Den Chat <button>mobil</button> öffnen</span></li>
            <li>Unseren <button>Newsletter</button> bestellen</li>
            <li>Stil: <button data-stil=robogeddon>Robos</button>, <button data-stil=tag>Tag</button>, <button data-stil=nacht>Nacht</button>, <button data-stil=hacks>Hx</button></li>
          </div>
        </div>
        